.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

embed,
iframe,
object {
	max-width: 100%;
}

.custom-logo-link {
	display: inline-block;
}

.avatar {
	border-radius: 100%;
	display: block;
	height: calc(2.25 * #{$size__spacing-unit});
	min-height: inherit;
	width: calc(2.25 * #{$size__spacing-unit});
}

svg {
	transition: fill $icon_transition ease-in-out;
	fill: currentColor;
}

// Overwrite iframe embeds that have inline styles.
.entry-content > iframe[style] {

	margin: 32px $size__spacing-unit !important;
	max-width: calc(100vw - (2 * #{ $size__spacing-unit })) !important;

	@include media(tablet) {
		margin: 32px calc(2 * (100vw / 12)) !important;
		max-width: calc(8 * (100vw / 12)) !important;
	}

	@include media(desktop) {
		max-width: calc(6 * (100vw / 12)) !important;
	}
}

// Classic editor audio embeds.
.entry-content .wp-audio-shortcode {
	max-width: calc(100vw - (2 * #{ $size__spacing-unit }));

	@include media(tablet) {
		max-width: calc(8 * (100vw / 12));
	}

	@include media(desktop) {
		max-width: calc(6 * (100vw / 12));
	}
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";
